.main-box{
    display: inline-block;
    background-color: #3a4042;
    width: 630px;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 42px 44px;
}

.main-box .title{
    margin-bottom: 28px;
    
}