.main-section {
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7c5e99;
}

.main-section .main-title{
    margin-bottom: 80px;
}

.main-section.-bgBlack{
    background-color: #000;
}

.main-section.-bdFirst{
    border-color: #F25A70;
}

.main-section.-bdSecond{
    background-color: #7c5e99;
}

.main-section.-bdBlack{
    border-color: #000;
}