.main-action {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
}
.main-action::before{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}