 .progress-bar{
    box-sizing: border-box;
    border: 5px solid #000;
    height: 40px;
 }

 .progress-bar::-webkit-progress-bar{
    background-color: #FFF;
 }

.progress-bar::-webkit-progress-value{
    background-color: #7c5e99;
}

.progress-bar::-moz-progress-bar{
    background-color: #FFF;
}