.section {
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7c5e99;
}

.section .main-title{
    margin-bottom: 80px;
}

.section.-bgBlack{
    background-color: #000;
}

.section.-bdFirst{
    border-color: #F25A70;
}