header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7c5e99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

h1{
    font-size: 30px;
    font-family: 'Press Start 2P';
    color: #FFF;
    text-shadow: 5px 5px 0px black;
}

nav{
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-family: "Fira Code";
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
}
a::before{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


#button{
    display: inline-block;
    background-color: #F25A70;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    transition: 0.2s ease-in-out;
}
#button:hover{
    border-radius: 20px;
    background-color: #f25a71c4;
    cursor: pointer;
}
